<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587555808592-72v47lo1c0veua59c4oggivus3dkrk7g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587555808592-72v47lo1c0veua59c4oggivus3dkrk7g</string>
	<key>API_KEY</key>
	<string>AIzaSyCLjVUfit-itYl0Pxn0O-XGEGN3RcBH5dI</string>
	<key>GCM_SENDER_ID</key>
	<string>587555808592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AndalusTest</string>
	<key>PROJECT_ID</key>
	<string>andalus-test</string>
	<key>STORAGE_BUCKET</key>
	<string>andalus-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587555808592:ios:004bc9958d55f1a5387855</string>
</dict>
</plist>